:root{
    --texto: #333;
    --blanco: #fff;
    --negro: #000;
    --principal: #1c74bc;
    --rojo: #ff3030;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--principal);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--principal);
    background-color: #fff;
    /*position: fixed;*/
    width: 100%;
    padding-right: 2em;
    padding-left: 3em;
    border-bottom: 1px solid var(--texto);
}

.sub-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    /*position: fixed;*/
    width: 100%;
    border-bottom: 1px solid var(--texto);
}

header h1 {
    text-align: center;
}

header img {
    width: 8.5em;
}

header a, .sub-header a{
    color: var(--principal);
    text-decoration: none;
}


.texto-header:hover, header a:hover{
    filter: brightness(1.2);
}


.buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2.5em;
    border: 1px solid var(--negro);
    border-radius: 50em;
    margin-left: 6em;
}

.buscador input[type=search]{
    width: 40em;
    border: none;
    border-radius: 50em;
}

.buscador:hover {
    border-color: var(--negro);
    box-shadow: 0 0 5px var(--negro);
}

.buscador input[type=search]{
    text-align: center;
}

.buscador input[type=search]:focus{
    outline: none;
}

.buscador i{
    color: var(--principal);
    padding: .35em;
    height: 2.5em;
    padding: .6em;
}

.buscador i:hover{
    color: var(--negro);
}

.contenedor-enlaces{
    display: flex;
    flex-direction: row;
}

.enlaces-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding-left: 1em;
}

.enlaces-header i {
    margin: 0;
    padding: .2em; 
}

.enlaces-header p {
    margin: 0;
    font-size: 1rem;
}

.btn-inicio{
    z-index: 1;
    position: fixed;
    top: 16em;
    left: 97%;
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--principal);
    padding: .4em;
    border-radius: 30%;
    transform: translateX(-50%);
}

.btn-inicio:hover{
    background-color: var(--negro);
    color: var(--blanco);
}

h1{
    text-align: center;
}

.cabecera-formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.cabecera-formulario img{
    width: 4em;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form label{
    padding-top: .6em;
    padding-bottom: .2em;
}

form input{
    height: 2em;
    text-align: center;
}

form input, textarea{
    border: 1px solid var(--texto);
    border-radius: .5em;
}

textarea{
    margin-bottom: .5em;
}

.obligatorio{
    color: var(--rojo);
}

form input[type="submit"]{
    margin-top: .5em;
    background-color: var(--principal);
    color: var(--blanco);
    border: 1px solid var(--negro);
}

label[for="id"]{  
    text-decoration: underline;
}

.campo-formulario{
    margin-top: .5em;
}

.campo-formulario label {
    display: inline-block;
    width: 16em;
}

.campo-formulario textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

label[for="info"]{  
    width: 18em;
}

input[type="file"]{
    border: none;
}

input[type="file"]::file-selector-button{
    margin-top: .5em;
    background-color: var(--principal);
    color: var(--blanco);
    border: 1px solid var(--negro);
    border-radius: .5em;
}

input[type="file"]::file-selector-button:hover, input[type="submit"]:hover{
    filter: saturate(2);
}

.campo-formulario input:valid, select:valid,textarea:valid{
    border: 2px solid #58ff47;
}

.campo-formulario input:invalid, select:invalid, textarea:invalid{

    border: 2px solid var(--rojo);
}

.text-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--negro);
    padding-top: 1em;
    bottom: 0;
}

.flex-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: .5em;
    color: var(--principal);
}

.footer-item{
   text-align: center;
   
}

.footer-item h4{
    text-decoration: underline;
}

.footer-item img{
    width: 20em;
}

.newsletter{
    border: 1px solid var(--principal);
    border-radius: .5em;
    height: 1em;
    width: 20em;
}

.newsletter input[type=email]{
    height: 1em;
    border: none;
    border-radius: 50em;
}

.newsletter a{
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--principal);
    padding: .3em;
    border-radius: .5em;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes a{
    text-decoration: none;
    color: var(--principal);
}

.redes a:hover{
    filter: saturate(2);
}

.newsletter{
    display: flex;
    flex-direction: row;
    width: 20em;
    height: 2.5em;
    border: 1px solid var(--negro);
    border-radius: 50em;
    overflow: hidden;
}

.newsletter input[type=email]{
    width: 100%;
    border: none;
    height: 100%;
}

.newsletter:hover {
    border-color: var(--negro);
    box-shadow: 0 0 5px var(--negro);
}

.newsletter input[type=email]{
    text-align: center;
}

.newsletter input[type=email]:focus{
    outline: none;
}

.newsletter a{
    color: var(--blanco);
    background-color: var(--principal);
    padding:.35em;
    height: 100%;
}

.newsletter a:hover{
    filter: contrast(1.2);
}

a:focus{
    text-decoration: underline;
}
