:root{
    --texto: #333;
    --blanco: #fff;
    --negro: #000;
    --principal: #1c74bc;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: var(--principal);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--principal);
    background-color: #fff;
    /*position: fixed;*/
    width: 100%;
    padding-right: 2em;
    padding-left: 3em;
    border-bottom: 1px solid var(--texto);
}

.sub-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    /*position: fixed;*/
    width: 100%;
    border-bottom: 1px solid var(--texto);
}

header h1 {
    text-align: center;
}

header img {
    width: 8.5em;
}

header a, .sub-header a{
    color: var(--principal);
    text-decoration: none;
}


.texto-header:hover, header a:hover{
    filter: brightness(1.2);
}


.buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2.5em;
    border: 1px solid var(--negro);
    border-radius: 50em;
    margin-left: 6em;
}

.buscador input[type=search]{
    width: 40em;
    border: none;
    border-radius: 50em;
}

.buscador:hover {
    border-color: var(--negro);
    box-shadow: 0 0 5px var(--negro);
}

.buscador input[type=search]{
    text-align: center;
}

.buscador input[type=search]:focus{
    outline: none;
}

.buscador i{
    color: var(--principal);
    padding: .35em;
    height: 2.5em;
    padding: .6em;
}

.buscador i:hover{
    color: var(--negro);
}

.contenedor-enlaces{
    display: flex;
    flex-direction: row;
}

.enlaces-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding-left: 1em;
}

.enlaces-header i {
    margin: 0;
    padding: .2em; 
}

.enlaces-header p {
    margin: 0;
    font-size: 1rem;
}

.menu-lateral{
    position: sticky;
    float: left;
    width: 12em;
    height: 52em;
    border: 1px solid var(--principal);
    background-color: var(--blanco);
    text-align: center;
    margin: .5em;
    margin-top: 15em;
    border-radius: 1em;
    margin-bottom: 55em;
    border: 2px solid black;
}

.menu-lateral h3{
    text-decoration: underline;
    width: 10em;
}

.menu-lateral a{
    text-decoration: none;
    font-weight: bold;
    color: var(--principal)
}

.menu-lateral a:hover{
    filter: brightness(1.2);
}

.menu-lateral ul{
    list-style-type: none;
    padding: .2em;
}

.banner-lateral{
    width: 12em;
}

.equipo-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 1.5em;
}

.equipo-menu img{
    width: 2.5em;
    padding-right: .2em;
}

.equipo-menu{
    padding-bottom: .5em;
}

.colores {
    padding: 0;
    margin: 0;
}

.colores .color {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    margin-bottom: 10px;
    padding-left: 3em;
    background-image: url('../imgs/sprite-colores.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 32px; 
}

/* Posiciones del sprite */
.color.negro {
    background-position: 0 -0.63em;
}

.color.blanco {
    background-position: 0 -3.43em;
}

.color.azul {
    background-position: 0 -6.2em;
}

.color.amarillo {
    background-position: 0 -9em;
}

.color.rojo {
    background-position: 0 -11.8em;
}

.color.gris {
    background-position: 0 -14.6em;
}

.color.naranja {
    background-position: 0 -17.5em;
}

.color.verde {
    background-position: 0 -20.3em;
}

.equipo{
    display: flex;
    flex-direction: row;
    border: 2px solid var(--negro);
    border-radius: 1em;
    margin: 1em;
    background-color: var(--principal);
    color: var(--blanco);
    box-shadow: 16px 16px 33px -16px rgba(0,0,0,0.65);
    margin-bottom: 2em;
}

.equipo h2{
    padding-left: 5em;
}

cite{
    margin-top: 1.5em;
    margin-left: 1em;
    font-style: italic;
    width: 15em;
}

.equipo img{
    width: 5em;
    margin-left: 1em;
    margin-right: 1.5em;
    padding-top: .2em;
    position: absolute;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
}

.tarjeta{
    color: var(--negro);
    border: 2px solid var(--negro);
    width: 19em;
    height: 30em;
    border-radius: 1em;
    padding: .5em;
    background-color: var(--blanco);
    margin-right: .5em;
    text-align: center;
}

.tarjeta h2{
    color: var(--principal);
    text-align: center;
}

.precio-original{
    z-index: 2;
    position: absolute;
    left: 6em;
    bottom: -7.2em;
    color: red;
    font-weight: bold;
    text-decoration: line-through;
}

.tarjeta img{
    padding-top: .5em;
    width: 75%;
    height: auto;
    transition: .5s ease;
}

.tarjeta img:hover{
    transform: scale(1.1);
}

.tarjeta h3{
    font-size: 2em;
}


.text-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--negro);
    padding-top: 1em;
    bottom: 0;
}

.flex-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: .5em;
    color: var(--principal);
}

.footer-item{
   text-align: center;
   
}

.footer-item h4{
    text-decoration: underline;
}

.footer-item img{
    width: 20em;
}

.newsletter{
    border: 1px solid var(--principal);
    border-radius: .5em;
    height: 1em;
    width: 20em;
}

.newsletter input[type=email]{
    height: 1em;
    border: none;
    border-radius: 50em;
}

.newsletter a{
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--principal);
    padding: .3em;
    border-radius: .5em;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes a{
    text-decoration: none;
    color: var(--principal);
}

.redes a:hover{
    filter: saturate(2);
}

.newsletter{
    display: flex;
    flex-direction: row;
    width: 20em;
    height: 2.5em;
    border: 1px solid var(--negro);
    border-radius: 50em;
    overflow: hidden;
}

.newsletter input[type=email]{
    width: 100%;
    border: none;
    height: 100%;
}

.newsletter:hover {
    border-color: var(--negro);
    box-shadow: 0 0 5px var(--negro);
}

.newsletter input[type=email]{
    text-align: center;
}

.newsletter input[type=email]:focus{
    outline: none;
}

.newsletter a{
    color: var(--blanco);
    background-color: var(--principal);
    padding:.35em;
    height: 100%;
}

.newsletter a:hover{
    filter: contrast(1.2);
}

a:focus{
    text-decoration: underline;
}
